/*! Andy Bells' cs reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}
/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input {
  border: none;
}
/* my own css from here */
a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}
:root {
  /** Typography */
  --ff-primary: ;
  --ff-secondary: ;

  --ff-heading: ;
  --ff-body: ;

  --fs-100: ;
  --fs-200: ;
  --fs-300: ;
  --fs-400: ;
  --fs-500: ;
  --fs-600: ;
  --fs-700: ;
  --fs-800: ;
  --fs-900: ;

  --fs-body: ;
  --fs-primary-heading: ;
  --fs-secondary-heading: ;

  --fw-black: 900;
  --fw-extra-bold: 800;
  --fw-bold: 700;
  --fw-medium: 600;
  --fw-semi-bold: 500;
  --fw-regular: 400;
  --fw-light: 300;
  --fw-extra-light: 200;
  --fw-thin: 100;

  /** Colours */
  --color-primary1: #2b262a; /* Headings & buttons colour */
  --color-primary2: #aaa7aa; /* p colour */
  --color-secondary1: #ffffff; /* White */
  --color-secondary2: #f2f2f2; /* Light grey */
  --color-accent1: #d94f30; /* Orange button */
  --color-accent2: #594946; /* Brown Text */
}

html {
  background-color: var(--color-secondary2);
}
.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 1100px;
}

header nav {
  padding: 1rem 0;
  background-color: #ffffff;
  border-bottom: 1px rgb(196, 196, 196) solid;
}
header .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  align-items: center;
}
header nav ul {
  display: flex;
  flex-flow: row nowrap;
  gap: 8vw;
  text-transform: uppercase;
  align-items: center;
}

#logo em {
  font-weight: var(--fw-black);
  font-size: var();
}

[value="SIGN UP"] {
  background-color: var(--color-accent1);
  color: var(--color-secondary1);
  text-transform: capitalize;
}

[type="button"] {
  padding: 0.2rem 1.5rem;
  border-radius: 7px;
  text-align: center;
}

h1,
h1 + p {
  text-align: center;
  margin: auto;
}

h1 + p {
  width: 40ch;
  margin: auto;
}

#selection form {
  display: flex;
  flex-flow: nowrap column;
}

#selection form fieldset {
  background-color: white;
}

.cardsList {
  display: flex;
  flex-flow: row;
}
