* {
  margin: 0px;
  padding: 0px;
}

:root {
  /** Typography */
  --ff-primary: ;
  --ff-secondary: ;

  --ff-heading: ;
  --ff-body: ;

  --fs-100: ;
  --fs-200: ;
  --fs-300: ;
  --fs-400: ;
  --fs-500: ;
  --fs-600: ;
  --fs-700: ;
  --fs-800: ;
  --fs-900: ;

  --fs-body: ;
  --fs-primary-heading: ;
  --fs-secondary-heading: ;

  --fw-black: ;
  --fw-extra-bold: ;
  --fw-bold: ;
  --fw-medium: ;
  --fw-semi-bold: ;
  --fw-regular: ;
  --fw-light: ;
  --fw-extra-light: ;
  --fw-thin: ;

  /** Colours */
  --color-primary1: ;
  --color-primary2: ;
  --color-secondary1: ;
  --color-secondary2: ;
  --color-accent1: ;
  --color-accent2: ;
}
